.friendsField {
    background-color: rgb(185, 138, 230);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    
  
}

.friendsComp {
    background-color: rgb(185, 138, 230);
    
  
}