#root {
  background-color: blueviolet;
  padding: 5px;

}

.app-wraper {
  
  margin: 0px auto;
  width: 1200px;
  background-color: blueviolet;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
  "h h"
  "n c";
}

.head {
  background-color: rgb(97, 97, 214);
  grid-area: h;
}

.head img {
  height: 100%;
}

.content img {
  width: 100%;
}

.nav {
  background-color: rgb(185, 138, 230);
  grid-area: n;

}

.content {
  background-color: rgb(127, 98, 155);
  grid-area: c;

}