#root {
  background-color: blueviolet;
  padding: 5px;

}

.app-wraper {
  
  margin: 0px auto;
  width: 1200px;
  background-color: blueviolet;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
  "h h"
  "n c";
}